<div padding-left = 20px>
  <h1>Voici mes restos</h1>

    <ul><% @restaurants.each do |restaurant| %></ul>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
</div>



<p><%= link_to 'Add new restaurant', new_restaurant_path %></p>
